@model Lab18ConsumeApi.Models.TaskViewModel

<div class="wrapper">
    <h1>Update task: @Model.ToDo.Name</h1>
    <form asp-action="Update" asp-route-id="@Model.ToDo.ID">
        <table>
            <tr>
                <td>
                    <label asp-for="ToDo.Name">Name</label>
                </td>
                <td>
                    <input asp-for="ToDo.Name" />
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="ToDo.IsDone">Is it done?</label>
                </td>
                <td>
                    <input type="checkbox" asp-for="ToDo.IsDone" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>In List</label>
                </td>
                <td>
                    <select asp-for="ToDo.ToDoList" asp-items="Model.ToDoListNames" style="margin-bottom:5px;"></select>
                </td>
            </tr>
        </table>

        <button class="home" type="submit">Update task</button>
        <button class="home" type="submit" asp-action="Delete" asp-route-id="@Model.ToDo.ID">Delete Task</button>
        <a class="home" asp-controller="ToDo" asp-action="Index">return to Tasks</a>
    </form>
</div>