@model Lab18ConsumeApi.Models.ToDoList

<form method="post" asp-controller="ToDoList" form-action="Create">

    <label asp-for="Name">Name</label>
    <input asp-for="Name" />
    <br />

    <label asp-for="IsDone">Is it done?</label>
    <input type="checkbox" asp-for="IsDone" />
    <br />

    <button type="submit">Make List</button>
</form>