@model List<Lab18ConsumeApi.Models.ToDoList>
<div class="wrapper">
    @foreach (var list in Model)
    {
        <a asp-controller="ToDoList" asp-action="Details" asp-route-id="@list.ID"><p>@list.Name</p></a>

    }
    <form class="home" method="get" asp-controller="ToDoList" asp-action="Create">
        <button type="submit">Add new list</button>
    </form>
    <form class="home" method="get" asp-controller="ToDo" asp-action="Index">
        <button type="submit">View Current tasks</button>
    </form>

</div>